body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background: linear-gradient(to right, #F09819, #FF512F);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #f9813a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f9813a;
}



p {
  font-size: 1rem;
}

hr{
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.heading {
  font-size: 5vw;
}

.subtitle {
  color: black;
  font-weight: normal;
  line-height: 2;
  font-size: 2.5vw;
}

.top {
  background-color: transparent;
  position: relative;
  padding-top: 25px;
  z-index: 1;


}

.middle{
  background-color: #fcf1f1;
  position: relative;
  top:-10px;
  z-index: 1;

}

.bottom{
  background-color: transparent;
  position: relative;
  margin: 0;
  top: -10px;

}


.cityImage {
  width: 100%;
  height: 35rem;
  position: relative;
  z-index: 1;
}

.profile {
  padding: 5% 15%;

}

.profile-pic{
  margin:50px;
}

.skills {
  padding: 5% 10%;
  padding-bottom: 0;
  text-align: center;
}

.skill-row {
  text-align: left;
  margin: 5% 0;

}

.skill-wrapper {
  margin-top: 5%;
}

.skill-box {
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-radius: 10%;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition: 0.4s;
}

.skill-box:hover {
  background-color:#f7f7f7;
}

.skill-heading {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 15%;
}

.skill-desc {
  padding: 5% 10%;
  text-align: center;
}

.skill-img {
  height: 15rem;
  text-align: center;
  border-radius: 100%;
  padding-top: 10px;

}

.row {
  padding-bottom: 10%;
}


.contact-me{
  padding: 15% 15%;
  text-align: center;
  line-height: 2;

}

.BUTTON_ESP {
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Poppins',sans-serif;
   font-size: 1rem;
   font-weight: 100;
   padding: 10px 20px 10px 20px ;
   background-color: #F9813A;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
   margin-top: 50px;
}

.BUTTON_ESP:hover {
   background: #FF5F00;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

.bottom fa{
  border-radius: 100%;
  margin: 10px 20px;

}

.bottom fa:hover {
    opacity: 0.7;
}

.bottom {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  padding: 5px 5px;
  margin: 1% auto;
  text-decoration: none;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  padding: 5px 5px;
  margin: 1% auto;
  text-decoration: none;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  padding: 5px 5px;
  margin: 1% auto;
  text-decoration: none;
}

@keyframes animate {
    0%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
    100%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
    left: 35%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 49%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 15%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 77%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 65%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 19s;
}
.background li:nth-child(5) {
    left: 50%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 76%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 22s;
}
.background li:nth-child(7) {
    left: 85%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 10s;
}
.background li:nth-child(8) {
    left: 87%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 21s;
}
.background li:nth-child(9) {
    left: 35%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 2s;
}

.attribution{
  position: relative;
  z-index: 1;
  clear:left;
  color: orange;
}

.cta-button {
  border-color: #f9813a;
  color: #f9813a;
}

.cta-button:hover {
  background-color: #f9813a;
  color: white;
  border-color: #f9813a;
}

@media screen and (max-width:1080px) {
  .skill-img {
    height: auto;
    width: 60%;
  }

  p {
    font-size: 1.2rem;
  }
}
