body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background: linear-gradient(to right, #F09819, #FF512F);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #f9813a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f9813a;
}

a{
  color: orange;
}

hr{
  border-style: dotted;
  width: 5%;
  border-width: thick 0 0;
  margin-bottom: 100px;
  border-color: grey;
}

.subtitle {
  color: black;
  font-weight: normal;
  line-height: 2;
}

.top {
  background-color: transparent;
  position: relative;
  padding-top: 25px;
  z-index: 1;



}

.middle{
  background-color: #fcf1f1;
  position: relative;
  top:-10px;
  z-index: 1;

}

.bottom{
  background-color: transparent;
  position: relative;
  margin: 0;
  top: -10px;

}


.cityImage {
  width: 100%;
  height: 35rem;
  position: relative;
  z-index: 1;
}

.profile {
  width: 75%;
  margin: 0 auto 100px;

}

.profile-pic{
  margin-top:50px;
}

.skill-row {
  width: 50%;
  margin : 100px auto 100px;
  text-align: justify;
  line-height: 2;
}

.web-design {
  border-radius: 100%;
  width: 25%;
  height: 11rem;
  float: left;
  margin-right: 30px;
}

.mobile-dev {
  border-radius: 100%;
  width: 25%;
  height: 11rem;
  float: right;
  margin-left: 30px;
}

.mentoring {
  border-radius: 100%;
  width: 25%;
  height: 175px;
  float: left;
  margin-right: 30px;
}

.contact-me{
  width: 50%;
  margin : 100px auto 50px;
  text-align: center;
  line-height: 2;

}

.web-design-desc{
  overflow: hidden;
}

.mobile-dev-desc{
  overflow: hidden;
}

.mentoring-desc{
  overflow: hidden;
}

.BUTTON_ESP {
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Poppins',sans-serif;
   font-size: 1rem;
   font-weight: 100;
   padding: 10px 20px 10px 20px ;
   background-color: #F9813A;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
   margin-top: 50px;
}

.BUTTON_ESP:hover {
   background: #FF5F00;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

.fa {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@keyframes animate {
    0%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
    100%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
    left: 35%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 49%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 15%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 77%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 65%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 19s;
}
.background li:nth-child(5) {
    left: 50%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 76%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 22s;
}
.background li:nth-child(7) {
    left: 85%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 10s;
}
.background li:nth-child(8) {
    left: 87%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 21s;
}
.background li:nth-child(9) {
    left: 35%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 2s;
}

.attribution{
  position: relative;
  z-index: 1;
  clear:left;
}
